<%= render "layouts/header_index", :subclass => "Model" %>

<% if @models && @models.size > 0 %>

<div id="pagination_table">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Name</th>
      <% if current_user %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

  <% @models.each_with_index do |model,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to model.name, model, :class => "show-loading" %></td>
      <% if current_user %>
        <td><%= render "buttons/edit", :item => model %></td>
        <td><%= render "buttons/delete", :item => model %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<% else %>
  <br/>
  <p class="muted" style="font-size:16px;">
    <i><%= "No models for this brand!" %></i>
  </p>
  <br/>
<% end %>